{% if post.data.archived %}
    <div id="{{ post.fileSlug }}" class="flex flex-col gap-2 max-w-2xl w-full p-8 rounded cursor-pointer bg-dark-green-500 hover:bg-dark-green-700 bg-tile-3 text-green-200"
      onclick="location.href='{{ post.url }}';">
      <a href="{{ post.url }}" class="text-2xl font-bold">
        <h2>{{ post.data.title }}</h2>
      </a>
      {% if post.data.subtitle %}
      <h3 class="font-bold">{{ post.data.subtitle }}</h3>
      {% endif %}
      {% if post.data.archived %}
        <div class="flex items-center gap-2">
          <svg class="w-6 h-6" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <p class="font-bold">
            Past Event
          </p>
        </div>
      {% endif %}
      <div class="flex gap-1 items-start flex-col mob:items-end">
        <div class="flex items-center flex-row-reverse mob:flex-row gap-2">
          <h3>{{ post.data.location_details }}</h3>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
        </div>
        <div class="flex items-center flex-row-reverse mob:flex-row gap-2">
          <h3>{{ post.data.date | date: "%b %d, %Y" }}</h3>
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
        </div>
      </div>
    </div>
  {% endif %}