<header>
  <div class="flex justify-center px-2 sm:px-6 lg:px-8 bg-white">
    <nav id="desktop-nav" class="relative hidden mob:flex items-center justify-between gap-2 text-dark-green-500 max-w-screen-xl w-full m-2 font-title">
      <div id="nav-logo" class="flex items-center gap-2">
        {% if site.general.logo %}
          <a href="/"><img width=32 height=32 src="{{site.general.logo}}" alt="{{site.general.name}} Logo"></a>
        {% endif %}
        <a class="hidden lg:block text-2xl text-center flex-shrink hover:text-dark-green-400" href="/">{{site.general.title}}</a>
      </div>
      <div id="nav-links" class="flex flex-wrap items-center gap-2 sm:gap-4 font-bold">
        {% for link in navigation.header %}
          <a class="hover:text-dark-green-400" href="{{link.url}}">{{link.text}}</a>
        {% endfor %}
      </div>
    </nav>
    <nav id="mobile-nav" class="relative flex mob:hidden flex-row items-center justify-between text-dark-green-500 w-full p-4 font-title">
      <div id="nav-logo" class="flex gap-2 items-center">
        {% if site.general.logo %}
          <a href="/"><img width=32 height=32 src="{{site.general.logo}}" alt="{{site.general.name}} Logo"></a>
        {% endif %}
        <a class="hover:text-dark-green-400 text-2xl text-center flex-shrink" href="/">{{site.general.title}}</a>
      </div>
      <div id="nav-btn">
        <button type="button" id="openMobileMenu" @click="open = !open" aria-expanded="false" aria-haspopup="true">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: menu -->
          <svg x-show="!open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg x-show="open" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </nav>
  </div>
  <div id="mobile-menu-overlay" class="mob:hidden relative flex w-full h-full" x-show="open">
    <div id="nav-links" class="flex-grow min-w-full min-h-screen bg-pink-200 bg-tile-3">
      <div class="text-dark-green-500 flex flex-col gap-2 items-center text-2xl h-full pt-8 m-4">
        {% for link in navigation.header %}
          <a class="underline hover:text-dark-green-400" href="{{link.url}}">{{link.text}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>